.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
*/target/*
/src/main/webapp/WEB-INF/classes/*
/target/
aicm-auth/target/
aicm-common/target/
aicm-dao/target/
aicm-service/target/
aicm-web/target/
